# 后端框架
fastapi
uvicorn

# 网络请求
requests
websocket-client

# 环境变量
python-dotenv
pydantic-settings

# 数据验证
pydantic[email]

# orm统一接口
sqlalchemy
sqlalchemy[asyncio]
# 异步数据库驱动
asyncmy
# 同步数据库驱动
pymysql

# redis
redis
aioredis

# 文件上传
python-multipart

# 图片处理
Pillow
